<!-- templates/home.html -->
{% extends 'base.html'%}

{% block content %}
    {% for post in object_list %}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk%}">{{ post.title }}</a></h2>
            <p>{{ post.body  }}</p>
            <p>{{ post.payment  }}</p>
            <p>{{ post.address}}</p>
            <p>{{ post.total}}</p>
            <p>{{ post.tips}}</p>
            <p>{{ post.last_modified}}</p>
            <p>{{ post.time_created}}</p>
        </div>
    {% endfor %}
    <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="{{ bg_url }}" data-natural-width=4032 data-natural-height=3024 data-position-y=center>
        <div class="overlay"></div>
        <h1>Home Page </h1>
    </section>
    
{% endblock content%}
